.FormInput {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%
}

#fileUploadButton {
    margin-top: 20px;
}

#submitButton {
    margin-top: 20px;
    width: 150px;
}
